{% extends "layouts/base.html" %}

{% block title %} Update Cliente {% endblock title %}

{% block content %}

<form id="UpdateForm" class="form-update justify-content-center" action="/tableUpdate/{{cliente.id}}" method="POST"> 
    <div class="form-group col-md-6">
        <label for="rutUpdate">Rut</label>
        <input type="text" class="form-control" id="rutUpdate" name="rut" value="{{cliente.rut}}" readonly>
    </div>    
    
    <div class="form-group col-md-6">
        <label for="nameUpdate">Nombre</label>
        <input type="text" class="form-control" id="nameUpdate" name="name" value="{{cliente.name}}">
        <p class="input-hint">Ingresar nombre.</p>
    </div>

    <div class="form-group col-md-6">
        <label for="emailUpdate">Email</label>
        <input type="text" class="form-control" id="emailUpdate" name="email" value="{{cliente.email}}" pattern="\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,}\b">
        <p class="input-hint">Ingresar un email.</p>
    </div>    

    
    <div class="form-group col-md-6">
        <label for="phoneUpdate">Telefono</label>
        <input type="text" class="form-control" id="phoneUpdate" name="phone" value="{{cliente.phone}}" pattern="\d{9}">
        <p class="input-hint">Ingresar numero valido.</p>
    </div>    

    
    <div class="form-group col-md-6">
        <label for="addressUpdate">Dirección</label>
        <input type="text" class="form-control" id="addressUpdate" name="address" value="{{cliente.address}}">
        <p class="input-hint">Ingresar una dirección.</p>
    </div>    

    
    <div class="form-group col-md-6">
        <label for="companyUpdate">Compañia</label>
        <input type="text" class="form-control" id="companyUpdate" name="company" value="{{cliente.company}}">
        <p class="input-hint">Ingresar una compañia.</p>
    </div>    

    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> <a style="text-decoration: none; color: #fff;" href="/table"> Cancelar </a> </button>
    <button type="submit" class="btn btn-success">Enviar</button>
</form>

{% block script %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('UpdateForm');
        
        form.addEventListener('input', function(event) {
            const input = event.target;

            if (input.checkValidity() === false) {
                input.classList.add('is-invalid');
                input.classList.remove('is-valid');
            } else {
                input.classList.add('is-valid');
                input.classList.remove('is-invalid');
            }
        });
    
        form.addEventListener('submit', function(event) {
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        });
    });
</script>
{% endblock script %}

{% endblock content %}