{% extends "layouts/base.html" %}

{% block head %}

<link rel="stylesheet" href="../../static/css/auth.css">

{% endblock head %}

{% block content %}

{% include 'layouts/messages.html' %}

<div id="main-wrapper" class="container">
    <div class="row justify-content-center">
    <div class="col-xl-10">
    <div class="card border-0">
        <div class="card-body p-0">
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <div class="p-5">
                        <div class="mb-5">
                            <h3 class="h4 font-weight-bold text-theme">Iniciar Sesión</h3>
                        </div>
                        <h6 class="h5 mb-0">Bienvenido!</h6>
                        <p class="text-muted mt-2 mb-5">Ingresa tu email y contraseña para acceder.</p>
                        <form method="POST" action="/login" id="LoginForm" enctype="multipart/form-data" novalidate>
                            {{ form.csrf_token() }}
                            <div class="form-floating mb-3">
                                {{ form.email(class="form-control", id="email", placeholder="example@gmail.com") }}
                                <label for="email">{{ form.email.label }}</label>
                                <small>Debe tener entre 10 y 100 caracteres.</small>
                                <div class="invalid-feedback">
                                    {{ form.email.errors[0] }}
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                {{ form.password(class="form-control", id="password", placeholder="Contraseña") }}
                                <label for="password">{{ form.password.label }}</label>
                                <small>Debe tener entre 8 y 100 caracteres</small>
                                <div class="invalid-feedback">
                                  Porfavor ingresa una contraseña valida.
                                </div>
                              </div>
                              <div class="form-check form-check-inline">
                                {{ form.remember(class="form-check-input", id="remember") }}
                                <label class="form-check-label" for="remember">{{ form.remember.label }}</label>
                              </div>
                            <br>
                            <div class="d-flex align-items-center justify-content-between mt-3">
                                {{ form.submit(class="btn btn-success") }}
                                <div class="d-flex ms-2">
                                    <a href="https://google.com/" class="ms-2">
                                        <img src="../../static/img/google.png" alt="Google" class="icon-img">
                                    </a>
                                    <a href="https://facebook.com/" class="ms-2">
                                        <img src="../../static/img/facebook.png" alt="Facebook" class="icon-img">
                                    </a>
                                    <a href="https://x.com/" class="ms-2">
                                        <img src="../../static/img/twitter.png" alt="Google" class="icon-img">
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="account-block rounded-right"">
                        <div class="overlay rounded-right"></div>
                        <div class="account-testimonial">
                            <p class="lead text-white">"Texto de ejemplo."</p>
                            <p>- Empresa</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end card-body -->
        </div>
        <!-- end card -->
        <p style="color: #fff;" class="text-center mt-3 mb-0 cuenta">¿No tienes una cuenta? <a href="{{url_for('auth.register')}}" class="text-info ml-1"> <b> Crear cuenta </b> </a></p>
        <!-- end row -->
      </div>
      <!-- end col -->
     </div>
     <!-- Row -->
    </div>

{% block script %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('LoginForm');
        
        form.addEventListener('input', function(event) {
            const input = event.target;
            if (input.checkValidity() === false) {
                input.classList.add('is-invalid');
                input.classList.remove('is-valid');
            } else {
                input.classList.add('is-valid');
                input.classList.remove('is-invalid');
            }
        });
    
        form.addEventListener('submit', function(event) {
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        });

        function validateEmail(input) {
            const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
            if (!emailPattern.test(input.value)) {
                input.classList.add('is-invalid');
                input.classList.remove('is-valid');
            } else {
                input.classList.add('is-valid');
                input.classList.remove('is-invalid');
            }
        }
    });
</script>
{% endblock script %}
{% endblock %}