{% extends "layouts/base.html" %}

{% block title %} Update Empleado {% endblock title %}

{% block content %}

<form class="form-update justify-content-center" action="/tableUpdate/{{empleado.id}}" method="POST"> 
    <div class="form-group col-md-6">
        <label for="nameUpdate">Nombre</label>
        <input type="text" class="form-control" id="nameUpdate" name="name" value="{{empleado.name}}">
        <p class="input-hint">Debe tener minimo 8 caracteres.</p>
    </div>
    
    
    <div class="form-group col-md-6">
        <label for="ageUpdate">Edad</label>
        <input type="integer" class="form-control" id="ageUpdate" name="age" value="{{empleado.age}}">
        <p class="input-hint">Debe tener minimo 18 años.</p>
    </div>

    <div class="form-group col-md-6">
        <label for="photoURL">URL Foto</label>
        <input type="url" class="form-control" id="photoURL" name="photo" value="{{empleado.photo}}">
        <p class="input-hint">Debe ser un URL.</p>
    </div>    

    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> <a style="text-decoration: none; color: #fff;" href="/table"> Cancelar </a> </button>
    <button type="submit" class="btn btn-success">Enviar</button>
</form>


{% endblock content %}