{% extends 'layouts/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    {% include 'layouts/messages.html' %}
   
    <div class="container mt-5 mb-5">
        <div class="row gx-0">
          <div class="col-md-4 col-lg-4"  style="height: 395px;">
                {% if current_user.photo %}
                <img class="img-profile img-fluid" src="{{current_user.photo}}">
                {% else %}
                <img class="img-profile img-fluid" src="../../static/img/sample.png">
                {% endif %}
          </div>
          <div class="col-md-8 col-lg-8">
            <div class="d-flex flex-column">
              <div class="d-flex flex-row justify-content-between align-items-center p-5 bg-dark text-white">
                <h2 style="color:aliceblue;" class="display-5"><b>Bienvenido, {{current_user.name}}</b></h2>
                <span class="badge badge-pill badge-primary">{{current_user.email}}</span>
                <div class="ms-3">
                  <i class="fab fa-uncharted"></i>
                  <i class="fab fa-wolf-pack-battalion"></i>
                  <i class="fab fa-youtube"></i>
                  <i class="fas fa-yin-yang"></i>
                  <i class="fab fa-linkedin"></i>
                </div>
              </div>
              <div class="p-3 bg-black">
                <h6 class="text-center" style="color: aliceblue;">Texto de Ejemplo</h6>
              </div>
              <div class="d-flex flex-row">
                <div class="p-4 bg-primary text-center skill-block">
                  <h4 style="color: aliceblue;">90%</h4>
                  <h6 style="color: aliceblue;">Bootstrap</h6>
                </div>
                <div class="p-3 bg-success text-center skill-block">
                  <h4 style="color: aliceblue;">70%</h4>
                  <h6 style="color: aliceblue;">Jquery</h6>
                </div>
                <div class="p-3 bg-warning text-center skill-block">
                  <h4 style="color: aliceblue;">80%</h4>
                  <h6 style="color: aliceblue;">HTML</h6>
                </div>
                <div class="p-3 bg-danger text-center skill-block">
                  <h4 style="color: aliceblue;">75%</h4>
                  <h6 style="color: aliceblue;">PHP</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    {% endblock content %}
</body>
</html>