{% extends "layouts/base.html" %}

{% block title %} CRUD Table {% endblock title %}

{% block content %}

<span>
  <button style="margin: 7px;" type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalAgregar">
    Agregar
  </button>
  <button style="margin: 7px;" type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalActualizar">
    Actualizar
  </button>  
  <button style="margin: 7px;" type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modalEliminar">
    Eliminar
  </button>  
</span>

{#<-- Modal para agregar un registro -->#}

<div class="modal fade" id="modalAgregar" tabindex="-1" aria-labelledby="modalAgregar" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar Empleado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/tableAdd">
          <p>Nombre * <input type = "text" name = "name" required /></p>
          <p>Edad * <input type = "integer" name = "age" required /></p>
          <p>URL Foto <input type = "text" name = "photo" /></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-success">Enviar</button>
      </div>
      </form>
    </div>
  </div>
</div>

{#<-- Fin Modal Agregar -->#}

{#<-- Modal para actualizar un registro -->#}

<div class="modal fade" id="modalActualizar" tabindex="-1" aria-labelledby="modalActualizar" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Actualizar Empleado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="GET" action="/tableUpdate/{{id}}">
          <p>ID Empleado * <input type = "text" name = "id" required /></p>
          <small>ID original en la tabla</small> {# Con datatable.js agregar un select con todos los id's #} 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-success">Enviar</button>
      </div>
      </form>
    </div>
  </div>
</div>

{#<-- Fin Modal Actualizar -->#}

{#<-- Modal para actualizar un registro -->#}

<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="modalEliminar" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar Empleado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/tableDelete/{{id}}">
          <p>ID Empleado * <input type = "text" name = "id" required /></p>
          <small>ID original en la tabla</small> {# Con datatable.js agregar un select con todos los id's #} 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-success">Enviar</button>
      </div>
      </form>
    </div>
  </div>
</div>

{#<-- Fin Modal Actualizar -->#}

<table class="table">
 <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Foto</th>
      <th scope="col">Nombre</th>
      <th scope="col">Edad</th>
    </tr>
  </thead>
  <tbody>    
    {% for i in base %}
        <tr>
        <th scope="row">{{i.id}}</th>
        <td><img style="width: 50px; height: 50px;" src="{{i.photo}}"></td> 
        {# Establecer foto por defecto si no tiene #}
        <td>{{i.name}}</td>
        <td>{{i.age}}</td>
        <td> <span><a class="btn btn-outline-warning" href="{{url_for('views_pagina.update', id=i.id)}}"> Actualizar </a> <a class="btn btn-outline-danger" href="{{url_for('views_pagina.delete', id=i.id)}}"> Eliminar </a> </span> </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}