{% extends "layouts/base.html" %}

<!DOCTYPE html>
<html lang="es">

{% block title %} Clientes {% endblock title %}

{% block head %}

<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.css" />  

{% endblock head %}

<body>

{% block nav_table %} active {% endblock nav_table %}

{% block content %}

{% include "layouts/messages.html" %}
  
{#<p-- Modal para agregar un registro -->#}

<div class="modal fade" id="modalAgregar" tabindex="-1" aria-labelledby="modalAgregar" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar Empleado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="ClienteForm" action="/tableAdd" method="POST" enctype="multipart/form-data" novalidate>
          {{ form.hidden_tag() }}
          <div class="form-floating mb-3">
              {{ form.rut(class="form-control", id="rut", placeholder="", pattern="\d{9}") }}
              <label for="rut"> {{ form.rut.label }} </label>
              <small> Ingresar rut valido. </small>
              <div class="invalid-feedback">
                  Porfavor ingresa un rut valido.
              </div>
          </div>
          <div class="form-floating mb-3">
              {{ form.name(class="form-control", id="name", placeholder="Jhon Doe") }}
              <label for="name"> {{ form.name.label }} </label>
              <small> Debe tener entre 4 y 40 caracteres. </small>
              <div class="invalid-feedback">
                  Porfavor ingresa un nombre valido.
              </div>
          </div>
          <div class="form-floating mb-3">
              {{ form.email(class="form-control", id="email", placeholder="example@gmail.com", pattern="\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,}\b") }}
              <label for="email">{{ form.email.label }}</label>
              <small>Debe tener entre 10 y 100 caracteres.</small>
              <div class="invalid-feedback">
                  Porfavor ingresa un email valido.
              </div>
          </div>
          <div class="form-floating mb-3">
              {{ form.phone(class="form-control", id="phone", placeholder="", pattern="\d{9}") }}
              <label for="phone">{{ form.phone.label }}</label>
              <small>Debe tener 9 digitos.</small>
              <div class="invalid-feedback">
                  Porfavor ingresa un numero valido.
              </div>
          </div>
          <div class="form-floating mb-3">
              {{ form.address(class="form-control", id="address", placeholder="")}}
              <label for="address">{{ form.address.label }}</label>
              <small>Debe tener entre 20 y 60 caracteres.</small>
              <div class="invalid-feedback">
                  Porfavor ingresa una dirección valida.
              </div>
          </div>
          <div class="form-floating mb-3">
            {{ form.company(class="form-control", id="company", placeholder="")}}
            <label for="company">{{ form.company.label }}</label>
            <small>Debe tener entre 20 y 60 caracteres.</small>
            <div class="invalid-feedback">
                Porfavor ingresa una compañia valida.
            </div>
        </div>
          <div class="d-flex align-items-center justify-content-between mt-3">
              {{ form.submit(class="btn btn-success") }}
          </div>
      </form>
      </div>
    </div>
  </div>
</div>

{#<-- Fin Modal Agregar -->#}

{#<-- Modal para actualizar un registro -->#}

<div class="modal fade" id="modalActualizar" tabindex="-1" aria-labelledby="modalActualizar" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Actualizar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="was-validated" method="GET" action="{{url_for('views_pagina.redirect_update')}}">
          <select required style="background-color: #ffffffe3;" class="form-select border-0 mb-1 px-4 py-4 rounded shadow" name="id">
          <option value="" disabled selected> Usuarios </option>
          {% for user in base %}
            <option  value="{{user.id}}"> {{user.name}} </option>
          {% endfor %}
          </select>
          <br>
          <small>Debes seleccionar un Usuario</small>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-success">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{#<b-- Fin Modal Actualizar -->#}


  <div class="d-flex justify-content-center align-content-center">
    <button style="margin: 7px;" type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalAgregar">
      Agregar
    </button>
    <button style="margin: 7px;" type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalActualizar">
      Actualizar
    </button>  
  </div>
  
  <div class="row py-5">
    <div class="col-lg-10 mx-auto">
      <div class="card rounded shadow border-0">
        <div class="card-body p-4 rounded">
          <div class="table-responsive">
            <table id="tablaUsuarios" style="width: 100%;" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Rut</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Telefono</th>
                  <th scope="col">Dirección</th>
                  <th scope="col">Compañia</th>
                </tr>
              </thead>
              <tbody>
                {% for i in base %}
                <tr>
                  <td>{{ i.id }}</td>
                  <td>{{ i.rut }}</td>
                  <td>{{ i.name }}</td>
                  <td>{{ i.email }}</td>
                  <td>{{ i.phone }}</td>
                  <td>{{ i.address }}</td>
                  <td>{{ i.company }}</td>
                  <td>
                  <form action="{{ url_for('views_pagina.delete', id=i.id) }}" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                  </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block script %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('ClienteForm');
        
        form.addEventListener('input', function(event) {
            const input = event.target;

            if (input.checkValidity() === false) {
                input.classList.add('is-invalid');
                input.classList.remove('is-valid');
            } else {
                input.classList.add('is-valid');
                input.classList.remove('is-invalid');
            }
        });
    
        form.addEventListener('submit', function(event) {
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        });
    });
</script>
{% endblock script %}

</body>
</html>