{% extends "layouts/base.html" %}

<!DOCTYPE html>
<html lang="es">

{% block title %} Usuarios {% endblock title %}

{% block head %}

<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.css" />  

{% endblock head %}

<body>

{% block nav_user %} active {% endblock nav_user %}

{% block background %} https://images.unsplash.com/photo-1426604966848-d7adac402bff?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D {% endblock background %}

{% block content %}

{% include "layouts/messages.html" %}
  
<div class="modal fade" id="modalUsuario" tabindex="-1" aria-labelledby="modalSolic" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Contactar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <select required style="background-color: #ffffffe3;" class="form-select border-0 mb-1 px-4 py-4 rounded shadow" name="id">
          <option value="" disabled selected> Usuarios </option>
          {% for i in base %}
            <option  value=" {{i.id}}"> {{i.name}} </option>
          {% endfor %}
          </select>
          <br>
          <small>Debes seleccionar un Usuario</small>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-success">Enviar Mensaje</button>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- Tabla de Usuarios -->

  <div class="row py-5">
    <div class="col-lg-10 mx-auto">
      <div class="card rounded shadow border-0">
        <div class="card-body p-4 rounded">
          <div class="table-responsive">
            <table id="tablaEmpleados" style="width: 100%;" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Foto</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Contacto</th>
                </tr>
              </thead>
              <tbody>
                {% for i in base %}
                <tr>
                  <td>{{ i.id }}</td>
                  <td>
                    {% if i.photo %}
                    <img width="50px" height="50px" src="{{ i.photo }}" class="rounded-circle">
                    {% else %}
                    <img width="50px" height="50px" src="../../static/img/placeholder.png">
                    {% endif %}
                  </td>
                  <td>{{ i.name }}</td>
                  <td>{{ i.email }}</td>
                  {% if current_date == i.date %}
                       <td>
                        <span class="badge rounded-pill bg-success">Nuevo</span>
                       </td>
                       <td>
                        <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#modalUsuario"> Contactar </button>
                       </td>
                  {% else %}
                       <td><span class="  badge rounded-pill bg-info">Antiguo</span></td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Fin Tabla -->

{% endblock content %}

</body>
</html>