{% extends "layouts/base.html" %}

{% block title %} Update Empleado {% endblock title %}

{% block content %}

<form action="/tableUpdate/{{empleado.id}}" method="POST"> 
    <p>Nombre<input type = "text" name = "name" value="{{empleado.name}}" /></p>
    <p>Edad<input type = "integer" name = "age" value="{{empleado.age}}" /></p>
    <p>URL Foto <input type = "text" name = "photo" value="{{empleado.photo}}" /></p>
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> <a href="/table"> Cancelar </a> </button>
    <button type="submit" class="btn btn-success">Enviar</button>
</form>

{% endblock content %}