<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Pagina No Encontrada</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/error.ico') }}">
    <link rel="stylesheet" href="../../static/css/404.css">
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/lux/bootstrap.css" rel="stylesheet">
</head>

<section class="p_404">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-10">
                    <div class="four_zero_four_bg_3">
                    </div>
                    <div class="content_box_404">
                        <h3 class="h2"> No tienes permisos para ver esta pagina! </h3>
                        <p> Restringido </p>
                        <a class="btn btn-outline-danger" style="text-decoration: none;" href="/"> Volver al Inicio </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>